<?xml version="1.0" encoding="utf-8" ?>
<plugin>
	<name>Lync 2013</name>
	<info>Lync 2013 Plugin, Copyright © 2019 Andreas Butti</info>
	<path>../../../../../Lync2013Plugin/bin/Debug/Lync2013Plugin.dll</path>

	<!-- Checks, if one of those are true, the plugin is loaded-->
	<check>
		<file>C:\Program Files (x86)\Microsoft Office\Office15\lync.exe</file>
		<metadata name="description">Microsoft Lync</metadata>
	</check>
</plugin>