<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="StateLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<StateLight.Properties.Settings>
			<setting name="LedBrightness" serializeAs="String">
				<value>7</value>
			</setting>
			<setting name="UsbIdSearch" serializeAs="String">
				<value>\\STATE_LED</value>
			</setting>
			<setting name="WatchdogActive" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MenuHeight" serializeAs="String">
				<value>22</value>
			</setting>
			<setting name="MenuWidth" serializeAs="String">
				<value>150</value>
			</setting>
			<setting name="States" serializeAs="String">
				<value>
					Verfügbar:#00FF00
					Beschäftig:#FFFF00
					Am Telefon:#FF0000
					Telefon klingelt:#0000FFb
					Rot blinkend:#FF0000b
					Weiss:#FFFFFF
					Violet:#FF00FF
					Türkis:#00FFFF
					Blau:#0000FF
					Orange:#FF7F00
					Hellblau:#3F3FFF
					Farbtest:#FF0000-#00FF00-#0000FF-#FFFF00-#FFFFFFb-#FF00FF
					Rot/Grün:#FF0000-#FF0000-#00FF00-#00FF00-#FF0000-#FF0000
					Ausgeschaltet:#000000
				</value>
			</setting>
			<setting name="StateMapping" serializeAs="String">
				<value>
					Free:#00FF00
					FreeIdle:#00FF00
					Busy:#FFFF00
					BusyIdle:#FFFF00
					DoNotDisturb:#FF0000
					Away:#0000FF
					TemporarilyAway:#0000FF
					Offline:#FFFFFF
					signed-out:#555555-#555555-#00FF00-#FF0000-#555555-#555555
					not-running:#555555-#555555-#0000FF-#FF0000-#555555-#555555
					call-calling:#0000FFb
					call-connected:#FF0000
				</value>
			</setting>
			<setting name="AutostartPlugin" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="serialTimeoutRead" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="serialTimeoutWrite" serializeAs="String">
				<value>10</value>
			</setting>
		</StateLight.Properties.Settings>
	</userSettings>
</configuration>